<html>



<header>
<%= link_to 'New Task', new_task_path %>
  <br />
  <div>
    <p>タスクのページ一覧:<%= paginate @tasks %></p>
    <p>ユーザーのページ一覧: <%= paginate @users %></p>
    <%= form_with(model: Task.new, method: :get, url: tasks_path, local: true) do |form| %>
      <%= form.label :title_search %>
      <%= form.text_field :title, class: "task" %>
      <%= form.select :status, ["未完了","未着手","完了"], include_blank: true, selected: "", class: 'task' %>
      <%= form.submit '検索する' %>
    <% end %>
    <%= form_with url: tasks_path, method: :get, local: true do |form| %>
      <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
      <%= form.submit 'Search', name: nil %>
    <% end %>
  </div>
</header>
<p><%= notice %></p>
<div class="col-5 ml-3">
  <table class="table table-bordered">
    <tr class="a">
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %>aaa</th>
      <th>作成日</th>
      <th>終了期限</th>
      <th>タスク管理</th>
      <th>優先順位</th>
    </tr>

  <% if current_user %>
    <% @tasks.each do |task| %>
      <tr class="a">
        <td><%= task.title %></td>

        <td><%= task.content %></td>
        <td><%= task.created_at.to_s(:datetime_jp) %></td>
        <td><%= task.expiration_date.strftime("%Y年%m月%d日") %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
        <td><%= link_to "タスクを編集する", edit_task_path(task.id) %></td>
        <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
<%= link_to 'タスクを登録する', new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位でソートする", tasks_path(priority: "true"), id: "sort_priority"%>
</html>
