<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>作成日: <%= @task.created_at %></p>
<p>終了期限: <%= @task.expiration_date %></p>
<p>タスク管理: <%= @task.status %></p>
<p>優先順位: <%= @task.priority %></p>
